<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.migro.jobcenter.mapper.BillPurchaseOrderResponseMapper">
    <select id="pagingQuery" resultType="com.migro.jobcenter.model.BillPurchaseOrderResponse" useCache="false">
        select t.* from BILL_PURCHASE_ORDER_RESPONSE t
        <where>
            <if test="cm.id != null">
                and t.id=#{cm.id}
            </if>
            <if test="cm.plOrderId != null and cm.plOrderId != ''">
                and t.PL_ORDER_ID=#{cm.plOrderId}
            </if>
            <if test="cm.orderId != null and cm.orderId != ''">
                and t.ORDER_ID=#{cm.orderId}
            </if>
            <if test="cm.planId != null and cm.planId != ''">
                and t.PLAN_ID=#{cm.planId}
            </if>
            <if test="cm.materialCode != null and cm.materialCode != ''">
                and t.MATERIAL_CODE=#{cm.materialCode}
            </if>
            <if test="cm.respNum != null and cm.respNum != ''">
                and t.RESP_NUM=#{cm.respNum}
            </if>
            <if test="cm.bdCode != null and cm.bdCode != ''">
                and t.BD_CODE=#{cm.bdCode}
            </if>
            <if test="cm.createTimeStart != null">
                and t.create_time &gt;= #{cm.createTimeStart}
                and t.create_time &lt;= #{cm.createTimeEnd}
            </if>
            <if test="cm.updateTimeStart != null">
                and t.update_time &gt;= #{cm.updateTimeStart}
                and t.update_time &lt;= #{cm.updateTimeEnd}
            </if>

            <if test="cm.keyword != null and cm.keyword != ''">
                and (
                t.PL_ORDER_ID like CONCAT('%',#{cm.keyword},'%')
                or t.ORDER_ID like CONCAT('%',#{cm.keyword},'%')
                or t.PLAN_ID like CONCAT('%',#{cm.keyword},'%')
                or t.MATERIAL_CODE like CONCAT('%',#{cm.keyword},'%')
                or t.RESP_NUM like CONCAT('%',#{cm.keyword},'%')
                or t.BD_CODE like CONCAT('%',#{cm.keyword},'%')
                )
            </if>
        </where>
        <if test="cm.orderBy != null and cm.orderBy != ''">
            order by t.${cm.orderBy}
        </if>
        <if test="cm.sortAsc != null and cm.sortAsc != ''">
            ${cm.sortAsc}
        </if>
    </select>
    <select id="updateOrderStatus">
        update BILL_PURCHASE_ORDER set STATUS = 4 where ORDER_ID = #{orderCode}
    </select>
    <select id="insertResponseData">
        INSERT INTO BILL_PURCHASE_ORDER_RESPONSE ( PL_ORDER_ID, ORDER_ID, RESP_NUM, RESP_TIME, BD_CODE )
            VALUES ( #{plOrderId}, #{orderId}, #{respNum}, #{respTime}, #{bdCode} )
    </select>
    <select id="insertDelivery">
        insert into bill_purchase_delivery
          (ship_id, order_id, supplier_id, load_id, sender,
          sender_phone, ship_store, ship_time, taker, taker_phone,
          take_address, taker_store, operate, operate_time, status)
        values
          (#{id}, #{ordNo}, #{supId}, #{loadNo}, #{sender,jdbcType=VARCHAR},
          #{senderTel,jdbcType=VARCHAR}, #{shipStore,jdbcType=VARCHAR}, #{shipTime,jdbcType=DATE}, #{taker,jdbcType=VARCHAR}, #{takerTel,jdbcType=VARCHAR},
          #{takerAddr,jdbcType=VARCHAR}, #{takerStore,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime}, '1')
    </select>
    <select id="deleteDelivery">
        delete from bill_purchase_delivery where ship_id = #{id}
    </select>
    <select id="insertDeliveryDetail">
        insert into bill_purchase_delivery_detail
          (id, ship_id, material_code, material_name, load_id,
          factory_code, spec, unit, item_no, supplier_id,
          num, batch_no, batch_lot, validity_date, production_date,
          purchase_price, is_pack, pack_type, pack_no, pack_num,
          pack_quantity, order_id, pl_order_id, invoice_no, invoice_time,status)
        values
          (#{id}, #{shipId}, #{hosMatCode},#{matName}, #{loadNo},
          #{factoryId}, #{spec}, #{unit,jdbcType=VARCHAR}, 1, #{supId},
          #{sendNum}, #{batchNo}, #{batchLot}, #{validDate}, #{prodDate},
          #{price}, #{isPkg,jdbcType=DECIMAL}, #{pkgType}, #{pkgNo}, #{pkgNum},
          #{pkgCapacity}, #{ordNo}, #{id}, #{invoiceNo,jdbcType=VARCHAR}, #{invoiceTime,jdbcType=DATE},0)
    </select>
    <select id="deleteDeliveryDetail">
        delete from bill_purchase_delivery_detail where ship_id = #{id}
    </select>
    <select id="insertMaterial">
        insert into bd_material
          (id, var_id, code, name, pinyin,
          spec, price, unit, pkg_unit, pkg_factor,
          type, yb_sku_id, udi_code, status, remark,
          create_time, update_time)
        values
          (#{id}, #{varId}, #{code}, #{name}, #{pinyin,jdbcType=VARCHAR},
          #{spec,jdbcType=VARCHAR}, #{price}, #{unit,jdbcType=VARCHAR}, #{pkgUnit,jdbcType=VARCHAR}, #{pkgFactor,jdbcType=DECIMAL},
          #{type}, #{ybSkuId,jdbcType=VARCHAR}, #{udiCode,jdbcType=VARCHAR}, #{status}, #{remark,jdbcType=VARCHAR},
          #{createTime}, sysdate)
    </select>
    <select id="deleteMaterial">
        delete from BD_MATERIAL where id = #{id}
    </select>
    <select id="insertMaterialVar">
        insert into bd_material_var
          (id, code, common_name, pinyin, material,
          reg_cert_id, charact, factory_id, sale_id, brand,
          origin, manage_cat, yb_spu_id, status,remark,
          create_time, update_time)
        values
          (#{id}, #{code}, #{commonName,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR},
           #{regCertId,jdbcType=DECIMAL}, #{charact,jdbcType=VARCHAR}, #{factoryId,jdbcType=DECIMAL}, #{saleId,jdbcType=DECIMAL}, #{brand,jdbcType=VARCHAR},
           #{origin,jdbcType=VARCHAR}, #{manageCat,jdbcType=VARCHAR}, #{ybSpuId,jdbcType=VARCHAR}, #{status}, #{remark,jdbcType=VARCHAR},
           #{createTime}, sysdate)
    </select>
    <select id="deleteMaterialVar">
        delete from BD_MATERIAL_VAR where id = #{id}
    </select>
    <select id="insertSupply">
        insert into dic_supplier
          (supplier_id, supplier_name, contacts, phone,address,
          parent_id, spell_code, property,legal_person, account_bank,
          account, tax_number, reg_number,remark, registered_capital)
        values
          (#{id}, #{orgName}, #{contact,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
          #{parentId,jdbcType=DECIMAL}, #{pinyin,jdbcType=VARCHAR}, #{regType,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR},'',
          '', '', '', #{remark,jdbcType=VARCHAR}, #{regCapital,jdbcType=VARCHAR})
    </select>
    <select id="existSupply" resultType="java.lang.Integer">
        select count(*) from DIC_SUPPLIER where SUPPLIER_ID = #{id}
    </select>
    <select id="updateSupply">
        update DIC_SUPPLIER set SUPPLIER_NAME = #{orgName}, SPELL_CODE = #{pinyin,jdbcType=VARCHAR}
          where SUPPLIER_ID = #{id}
    </select>
    <select id="insertLicense">
        insert into dic_license_info
          (license_code, org_code, license_type, license_number, license_name,
          start_date, end_date, remark, attributes, attachs,
          status, create_time, update_time)
        values
          (#{id}, #{orgId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
          #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR},#{attributes,jdbcType=CLOB},#{attachs,jdbcType=CLOB},
          #{status,jdbcType=VARCHAR}, sysdate, sysdate)
    </select>
    <select id="deleteLicense">
        delete from dic_license_info where LICENSE_CODE = #{id}
    </select>
    <select id="insertFactory">
        insert into dic_factory
          (factory_code, factory_name, spell_code)
        values
          (#{code}, #{name}, #{pinyin,jdbcType=VARCHAR})
    </select>
    <select id="deleteFactory">
        delete from dic_factory where factory_code = #{code}
    </select>
</mapper>
