<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.migro.jobcenter.mapper.OrderMapper">
    <select id="pagingQuery" resultType="com.migro.jobcenter.model.vo.OrderVO" useCache="false">
        select o.ORDER_ID code,k.DEPT_NAME rec_stock, o.SUPPLIER_ID sup_id,s.SUPPLIER_NAME sup_name,o.ORDER_TIME create_time,
        o.SUBMIT_USER sub_user,o.SUBMIT_TIME sub_time,o.TAKE_ADDRESS rec_addr,o.TAKER rec_user,m.ID msg_id,DECODE(o.ORDER_CLASS,'3','2','1') ord_type

        from BILL_PURCHASE_ORDER o
        JOIN INTERFACE_MSG m on m.DATA_CODE = o.ORDER_ID
        LEFT JOIN DIC_SUPPLIER s on s.SUPPLIER_ID = o.SUPPLIER_ID
        LEFT JOIN DIC_DEPT k on k.DEPT_CODE = o.DEPT_CODE
        <where>
            m.status = 0
        </where>
        <if test="cm.orderBy != null and cm.orderBy != ''">
            order by ${cm.orderBy}
        </if>
        <if test="cm.sortAsc != null and cm.sortAsc != ''">
            ${cm.sortAsc}
        </if>
    </select>
    <select id="listDetails" resultType="com.migro.jobcenter.model.vo.OrderDetailVO" useCache="false">
        select d.ORDER_ID code,d.ITEM_NO serial_no,d.BD_CODE mat_code,d.MATERIAL_NAME mat_name,
        d.SPEC,d.UNIT,d.PLAN_NUM pur_num,d.PURCHASE_PRICE price,f.FACTORY_NAME factory

        from BILL_PURCHASE_ORDER_DETAIL d
        LEFT JOIN DIC_FACTORY f on f.FACTORY_CODE = d.FACTORY_CODE
        <where>
            <if test="code != null and code != ''">
                d.ORDER_ID = #{code}
            </if>

        </where>
        order by d.ORDER_ID,d.ITEM_NO
    </select>
    <update id="updateMsgStatus">
        update INTERFACE_MSG set status = #{status},update_time = sysdate where id = #{id}
    </update>
</mapper>
