<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>任务中心</title>
    <link rel="shortcut icon" href="../static/job.png">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                关键字：Quartz 任务中心 微服务 docker 开箱即用
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-5">
            <h2>任务管理中心</h2>
            <p>基于Quartz框架的任务管理中心，提供简单的任务创建、修改、启停、删除操作，并且记录任务执行结果，方便查询跟踪。提供docker镜像，实现开箱即用</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://github.com/migro78/job-center" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问源码
                </a>
                <a class="btn btn-white btn-bitbucket" href="#" target="_blank">
                    <i class="fa fa-home"></i> 访问主页
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>RPC框架：Apache Dubbo。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群:
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v41">v1.0.0</a><code class="pull-right">2020.04.27</code>
								   </h5>
								</div>
								<div id="v41" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
									        <li>定时任务支持RPC远程服务调用</li>
                                           <li>支持zookeeper和nacos的RPC注册中心</li>
                                           <li>支持定时任务的增删改查，状态启停</li>
                                           <li>支持任务执行记录和结果的查询</li>
										</ol>
									</div>
								</div>
							 </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>感谢</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	若依框架
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
